@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
  font-family: 14px Ubuntu, Helvetica, Arial, sans-serif; 
  background-size:contain;
  background-attachment: fixed;  
}

.col-sm-2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #231f20;
  overflow-x: hidden;
  z-index: 1;
  height: 100%;  
}

.col-md-10 { 
  padding: 0px;
}

.col-md-12 {
  margin-top: 2rem;
}

.img-thumbnail {
  padding: 0rem;
  border: 0;  
  border-radius: 0%;  
}

.list-group {
  margin-top: 5%;
  margin-bottom: 10%;
} 

.edit-button {
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  align-self: center;
  padding: 4.5px;
  margin-left: 20px;  
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.nav {
  --bs-nav-link-color: #8b734b; 
  --bs-nav-link-hover-color: #8b734b; 
}

.btn-primary {
  margin-top: 5%;
  padding: 12px;
  background-color: white;
  border-color: white;
  border-radius: 0%;
  color: black;
  font-weight: bold;
  letter-spacing: 1px; 
  margin-bottom: 5%;
  --bs-btn-bg: #8b734b;
  --bs-btn-border-color: #8b734b;
  --bs-btn-hover-bg: #8b734b;
  --bs-btn-hover-border-color: #8b734b;
  --bs-btn-active-bg: #8b734b;
  --bs-btn-active-border-color: #8b734b;
  --bs-btn-disabled-bg: #8b734b;
  --bs-btn-disabled-border-color: #8b734b;  
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #8b734b;
  border-color: #8b734b;
  color: white;
  transition: background-color 0.5s ease;
}

.list-group-item {
  padding: 0%;
  border: #231f20;
  margin-bottom: 5%;
  font-size: larger;
  font-weight: bold;
}

.flex-row {
  color: white;
}

.col-md-10 {  
  margin-left: 16%;
}

.ppb_title_first {
  color: #222;
  display: block;
  font-style: italic;
  font-size: 38px!important;
  text-transform: none;
  top: 0;
  position: relative;
  color: #cfa670;
  letter-spacing: 0 !important;
  font-weight: 700;
  line-height: 50px;
  font-family: 'Alex Brush',cursive!important;
}

h2.ppb_title {
  color: black;
  font-weight: 500;
  font-size: 35px!important;
  text-transform: uppercase;
}

.parallax_title h2 {
  color: #fff !important;
}

a.button:hover {
  background-color: #8b734b;
  transition: background-color 0.5s ease;
}

/* Footer Styling */
footer {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #231f20;
  padding: 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.address a {
  text-decoration: none;
  color: #8b734b;
}

.logo, .tagline, .address {
  flex-basis: 25%;
  color: #8b734b;
  align-self: center;
}

.address {
  text-align: center;
  color:white;
  align-self: center;
}

.credits a {
  text-decoration: none;
  color: inherit;
}

.credits {
  text-align: center;
  width: 100%;
  color: #8b734b;
  margin-top: 30px;
}
/* Footer Styling */

.btnModal {
  background-color: #664a27;
  color: white;
  width: 100px;
  border: none;
}

.btnModal:hover {
  background-color: #8b734b;
  border-color: #8b734b;
  color: white;
  transition: background-color 0.5s ease;
}

.media {
  display: flex;
  margin-left: 2.5%;
  width: 97%;
  flex-direction: column-reverse;
  background-image: url("menu.jpg");
  height: 700px;
  padding: 0;
}

.media > .menu {
  margin-bottom: 1em;
  font-size: 4rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.down_title {
  font-weight: bold;
}

.description {
  font-size: smaller;
  font-style: italic;
  font-weight: normal;
}

.price {
  font-size: smaller;
  font-style: italic;
}

.wines > .list-group-item {
  font-weight: normal;
  font-size: 16px;
}

.offcanvas-header button.btn-close {
  font-size: 1.5rem;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #231f20 !important;
}

.navbar-brand span {
  color: #8b734b;
}

button.navbar-toggler {
  background-color: white;
  border-color: white;
}

button.navbar-toggler:hover {
  background-color: #8b734b;
  border-color: #8b734b;
  transition: background-color 0.5s ease; 
}

.navbar-nav .nav-link:hover {
  color: #8b734b;
}

#offcanvasNavbar{
  background-color: #231f20; 
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  --bs-nav-link-hover-color: #8b734b;
  color: #8b734b;
}

.navbar{
  display: none;
}


/* -------------------------------- MOBILE CSS ----------------------------------- */

/* Set a breakpoint for mobile devices */
@media screen and (max-width: 1200px) {
  .col-sm-2 {
    display: none !important;
  }

  .navbar {
    display: block !important;    
  }

  .col-md-10 {
    width: 100%;
    margin-left: 0px !important;
  }

  footer {
    width: 100% !important;
    margin-left: 0px !important;
    position: static !important;
    bottom: 0;
  }

  .one_half.parallax_scroll, .parallax_scroll_image {
    width: 90% !important;
    position: top !important;
    top: 4%;
    left: 6%;
  }

  /* second text */
  .second_half.parallax_scroll {
    width: 100% !important;
    height:70vh;
    padding: 30px;
    position:static !important;
    left: 5%;
    top: 70%;
  }

  .steaks_list {
    width: 100% !important;
    position: static !important;
  }

  .btn-primary {
    margin-right: 1rem;
  }  
}

/* -------------------------------- MOBILE CSS ----------------------------------- */