html, body {
  height: 100%;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  margin:0;
}

.container {
  display: flex;
  flex-wrap: wrap; 
}

.side-menu {
  justify-content: flex-end;
  background-color: #231f20;
  align-items: center;
  width: 100%; 
}

.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-menu li {
  margin-bottom: 10px;
}

.logo {  
  height: 200px;
  width: 300px;
}

.side-menu a{
  color: white;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;  
}

.side-menu a:hover,address a:hover {
  color: #8b734b;
}

.col-md-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 300px;
  position: fixed;
  overflow-y: scroll;
}

.col-md-3:first-child {
  padding: 0;
  height: 100%;
  background-color: #231f20;
  width: 300px;
}

.col-md-9 { 
  margin-left: 320px;
  padding-top: 20px;
  width: calc(100%-320px);
  flex:1;
}

.pictures {
  display: block;
  height: auto;
  width: 100%;
  max-width:1000px;
  margin:0 auto;
}

#btn{
  min-width: 120px;
  color: black;
  background-color: white;
  border-radius: 0%;
  font-weight: bold;
  border: 0;  
  letter-spacing: 1px;  
  padding: 10px;
  width: 150px;
  text-align: center;
  margin-left: 25%;
}

#btn:hover, #btn:focus {
  background-color: #8b734b !important;
  color: white !important;
  transition: background-color 0.5s ease;
}

.socials ul{
  display: flex;
  background: transparent;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  list-style: none;
  padding: 0%;
}

.socials_pic:hover{
  background-color: #8b734b; 
}

.socials_pic{
  width: 50px;
}

.address a:link,.address a:visited{
  color: white;
  text-decoration:none !important; 
}

.address a:hover{
  color: #8b734b;
  text-decoration: none;
}

.discription{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}