@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
  font-family: 14px Ubuntu, Helvetica, Arial, sans-serif;
  background-image: url(/photos/JFS_5221-1.jpg);
  background-size:contain;
  background-attachment: fixed;
}

.col-sm-2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #231f20;
  overflow-x: hidden;
  z-index: 1;
  height: 100%;
  
}

.col-md-10{
  
  position: relative;
}

.img-thumbnail {
  padding: 0rem;
  border: 0;  
  border-radius: 0%;
  
}

/* Pictures */

#menu_picture{
  height:900px;
  width: auto;
  margin-left: 10px;
}

/* Pictures */

.alignnone {
  height:900px;
  width: auto;
  margin-left: 10px;
}
.steaks_list{
  color: white;
  list-style: none;
  font-family: Georgia, serif;
  flex-wrap: wrap;
}
.steaks_list>li{
  display: block;
  margin-top: 10px;
  justify-content: space-between;
  
}


 /* first text */
.one_half{
  width: 40%; 
  position: absolute; 
  right: 200px;
  padding: 40px; 
  background: rgb(255, 255, 255); 
  display: block; 
  transform: translate3d(0px, 58.7063px, 0px);

}

.list-group{
  margin-top: 5%;
}
/* second text */
.second_half{
  width: 40%;
  bottom: 12%;
  right: 10%;
  position: absolute;
  display: block; 
  background: rgb(255, 255, 255);
  padding: 40px;
 
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.nav {
  --bs-nav-link-color: #8b734b; 
  --bs-nav-link-hover-color: #8b734b; 
}

.btn-primary{
  margin-top: 5%;
  padding: 12px;
  background-color: white;
  border-color: white;
  border-radius: 0%;
  color: black;
  font-weight: bold;
  letter-spacing: 1px; 
  margin-bottom: 5%;
  --bs-btn-bg: #8b734b;
  --bs-btn-border-color: #8b734b;
  --bs-btn-hover-bg: #8b734b;
  --bs-btn-hover-border-color: #8b734b;
  --bs-btn-active-bg: #8b734b;
  --bs-btn-active-border-color: #8b734b;
  --bs-btn-disabled-bg: #8b734b;
  --bs-btn-disabled-border-color: #8b734b;  
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #8b734b;
  border-color: #8b734b;
  color: white;
  transition: background-color 0.5s ease;
}

.list-group-item{
  padding: 0%;
  border: #231f20;
  margin-bottom: 5%;
}

.flex-row{
  color: white;
}

.col-md-10{
  text-align: center;
  margin-left: 16%;
}

.ppb_title_first {
  color: #8b734b;
  display: block;
  font-style: italic;
  font-size: 38px!important;
  text-transform: none;
  top: 0;
  position: relative;
  color: #cfa670;
  letter-spacing: 0 !important;
  font-weight: 700;
  line-height: 50px;
  font-family: 'Alex Brush',cursive!important;
}

h2.ppb_title {
  color: white;
  font-weight: 500;
  font-size: 35px!important;
  text-transform: uppercase;
}
.parallax_title h2 {
  color: #fff !important;
}

.trip-advisor {
  position: absolute;
  right: 40px;
  top: 60px;
  z-index: 10;
}

input[type=submit], input[type=button], a.button, .button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.8em 1.7em 0.6em 1.7em;
  color: #222;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Lato', 'Helvetica Neue', Arial,Verdana,sans-serif;
  color: white;
  background-color: #222;
  margin-right: 5px;  
}

a.button:hover{
  background-color: #8b734b;
  transition: background-color 0.5s ease;
}




/* Footer Styling */
#footer {
  width: 100%;
  padding-top: 50px;
  background-color: #231f20;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

#footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#footer li {
  margin-right: 20px;
}

#footer ul li:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Alex Brush cursive !important;
  color: #8b734b;
  margin-right: 300px;
  margin-left: 230px;
  
}

@media only screen and (max-width: 768px) {
  #footer li {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* Footer Styling */


.btnModal{
  background-color: #664a27;
  color: white;
  width: 100px;
  border: none;

}

.btnModal:hover{
  background-color: #8b734b;
  border-color: #8b734b;
  color: white;
  transition: background-color 0.5s ease;
}

.scroll {
  text-align: center;
  margin-top: -125px;
  z-index: 10;
  position: relative;
}

.plate-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}
.plate-item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  margin-left: 5%;
}

.plate-item img {
  max-width: 100%;
  min-height: 200px;
  height: auto;
}

/* -------------------------------- MOBILE CSS ----------------------------------- */

/* Set a breakpoint for mobile devices */
@media only screen and (max-width: 574px) {
  /* Change the direction of the columns to "column" */
  .container {
    display: flex;
    flex-direction: column;
  }
  

  /* Style the navigation menu to take up the full width */
  .navigation {
    width: 100%;
  }

  /* Style the left column to be below the navigation menu */
  .right-column {
    order: 2;
  }
}

/* -------------------------------- MOBILE CSS ----------------------------------- */
